.category-row{
  background-color: rgba(29, 29, 29);
}

.category-row-text{
  color: beige;
  vertical-align: middle;
  margin: '0';
  width: 100%;
}

.category-row-input{
  color: beige;
  background-color: #282C34;
  text-align: center;
  margin: '0';
  width: 100%;
}

.form-controle:focus{
  color: beige;
  border-color: red;
  background-color: #282C34;
}

.add-image{
  border-width: 2px;
  border-style: solid;
  border-color: #ffffff00;
  width: 30px;
  height: 30px;
  margin: 5px;
}

.add-image:hover{
  border-width: 0px;
}

.trash-image{
  border-width: 2px;
  border-style: solid;
  border-color: #ffffff00;
  width: 30px;
  height: 30px;
  margin: 5px;
}

.trash-image:hover{
  border-width: 0px;
}

.fold-image{
  border-width: 2px;
  border-style: solid;
  border-color: #ffffff00;
  width: 30px;
  height: 30px;
  margin: 5px;
}

.fold-image:hover{
  border-width: 0px;
}

.unfold-image{
  border-width: 2px;
  border-style: solid;
  border-color: #ffffff00;
  width: 30px;
  height: 30px;
  margin: 5px;
}

.unfold-image:hover{
  border-width: 0px;
}

