@import '../../Colors.scss';

.login-container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  padding: 0px;
}

.login-box{
  max-width: 500px;
}

.login-row{
  margin: 2% 1% 2% 1%;
  display: flex;
  justify-content: end;
}

.baseurl{
  color: beige;
  background-color: #282C34;
}

.baseurl::placeholder{
  color: $grey  ;
}

.username{
  color: beige;
  background-color: #282C34;
}

.username::placeholder{
  color: $placeholder-dark;
}

.password{
  color: beige;
  background-color: #282C34;
}

.password::placeholder{
  color: $placeholder-dark;
}

.btn-login{
  color: #1D1D1D;
  background-color: beige;
  border: 1px solid #1D1D1D;
  border-radius: 5px;
  padding: 5px 10px 5px 10px;
}

.btn-login:active{ 
  border-color: $beige;
  color: $beige;
  background-color: $blue-darker;
} 