.login-container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-box{
  max-width: 500px;
}

.login-row{
  margin: 2% 1% 2% 1%;
}

.baseurl{
  color: beige;
  background-color: #282C34;
}

.baseurl::placeholder{
  color: #5F5F5F  ;
}

.username{
  color: beige;
  background-color: #282C34;
}

.username::placeholder{
  color: #5F5F5F  ;
}

.password{
  color: beige;
  background-color: #282C34;
}

.password::placeholder{
  color: #5F5F5F;
}

.btn-login{
  border-color: #1D1D1D;
  color: #1D1D1D;
  background-color: beige;
}

.btn-login:hover{
  border-color: #1D1D1D;
  color: #1D1D1D;
  background-color: white;
}

