$blue: #21242B;
$blue-dark: #21242B;
$blue-darker: #1D1D1D;
$blue-light: #98C1D9;
$beige: #F5F5DC;
$beige-light-dark: #afafaf;
$beige-dark: #4B4B46;
$beige-darker: #32322D;
$red: #EE6C4D;
$green: #99CE99;
$blue-light: #98C1D9;
$placeholder-TextColor: grey;
$grey: grey;
$placeholder-dark: grey;
$cvBlue: #0A66C2;